.navbar {
  background-color: #FFC700;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-title {
  padding-top: 20px;
  padding-left: 40px;
  font-size: 24px;
  font-weight: 700;
}

.navbar-logout {
  width: 98px;
  margin: 20px 140px 20px 0;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logout > a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 19px;
  font-size: 14px;
  font-weight: 700;
}